[Desktop Entry]
Name=Meerkat Browser
Name[ar]=متصفح أوتِر
Name[bg]=Meerkat Браузър
Name[cs]=Meerkat Browser
Name[da]=Meerkat Browser
Name[de]=Meerkat-Browser
Name[el]=Περιηγητής Meerkat
Name[en_CA]=Meerkat Browser
Name[en_GB]=Meerkat Browser
Name[es]=Navegador Meerkat
Name[es_MX]=Meerkat Browser
Name[et]=Meerkat brauser
Name[fi]=Meerkat selain
Name[fr]=Navigateur Web Meerkat
Name[he]=דפדפן Meerkat
Name[hr]=Meerkat preglednik
Name[hu]=Meerkat böngésző
Name[id]=Meerkat Browser
Name[it]=Meerkat Browser
Name[ja]=Meerkat Browser
Name[jbo]=lo brauzero be fa la Utra
Name[ka]=Meerkat Browser
Name[lt]=Naršyklė Meerkat
Name[nb]=Oter-nettleser
Name[nl]=Meerkat Webbrowser
Name[pl]=Przeglądarka Meerkat
Name[pt]=Navegador Meerkat
Name[pt_BR]=Meerkat Browser
Name[ro]=Meerkat Browser
Name[ru]=Meerkat Browser
Name[sk]=Webový prehliadač Meerkat
Name[sl]=Brskalnik Meerkat
Name[sr@ijekavian]=Отер прегледач
Name[sr@ijekavianlatin]=Oter pregledač
Name[sr@latin]=Oter pregledač
Name[sr]=Отер прегледач
Name[sv]=Meerkat Webbläsare
Name[tr]=Meerkat Tarayıcı
Name[uk]=Meerkat Browser
Name[zh_CN]=水獭浏览器
Name[zh_TW]=Meerkat 瀏覽器
GenericName=Web Browser
GenericName[ar]=متصفح الويب
GenericName[bg]=Уеб Браузър
GenericName[cs]=Internetový prohlížeč
GenericName[da]=Web Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής Ιστού
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador Web
GenericName[es_MX]=Navegador Web
GenericName[et]=Veebisirvija
GenericName[fi]=Internet-selain
GenericName[fr]=Navigateur Web
GenericName[he]=דפדפן רשת
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[id]=Peramban Web
GenericName[it]=Browser Web
GenericName[ja]=Webブラウザー
GenericName[jbo]=lo brauzero
GenericName[ka]=ვებ ბრაუზერი
GenericName[lt]=Saityno naršyklė
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador
GenericName[pt_BR]=Navegador da Web
GenericName[ro]=Navigator Web
GenericName[ru]=Веб-браузер
GenericName[sk]=Webový prehliadač
GenericName[sl]=Brskalnik
GenericName[sr@ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[sr]=Веб прегледач
GenericName[sv]=Webbläsare
GenericName[tr]=İnternet Tarayıcısı
GenericName[uk]=Веб-браузер
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Browse the Web
Comment[ar]=تصفح الويب
Comment[cs]=Prohlížet internet
Comment[de]=Surfen im Web
Comment[es]=Navega por la Red
Comment[es_MX]=Navega por la Web
Comment[fr]=Parcourir le Web
Comment[he]=גלוש ברשת
Comment[ja]=Webを閲覧
Comment[lt]=Naršyti saityną
Comment[nb]=Surf på nettet
Comment[nl]=Surfen op het internet
Comment[pl]=Przeglądaj sieć
Comment[pt_BR]=Navegue pela Web
Comment[ru]=Просматривайте веб страницы
Comment[sk]=Prehliadajte web
Comment[sr@ijekavian]=Прегледајте веб
Comment[sr@ijekavianlatin]=Pregledajte veb
Comment[sr@latin]=Pregledajte veb
Comment[sr]=Прегледајте веб
Comment[sv]=Bläddra på nätet
Comment[tr]=Webe göz atın
Comment[uk]=Перегляд Інтернету
Comment[zh_CN]=畅游网络
Comment[zh_TW]=瀏覽網路
Icon=meerkat-browser
Type=Application
Categories=Network;WebBrowser;
Exec=meerkat-browser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
